@import url(https://fonts.googleapis.com/css?family=Outfit:300,regular,600);

/* Main styles */
.container {
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
    color: (0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}

hr {
    margin: 10px;
}

.card {
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    color: hsl(215, 51%, 70%);
    padding: 15px;
    align-self: center;
    justify-self: center;
    width: 400px;
    margin: auto;
}

.card-title {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}

.card-body {
    padding: 0.25rem 0.25rem;
}

.card-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.prof-img {
    border: 1px white solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

span {
    color: hsl(0, 0%, 100%);
}

#eth {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

/* .card-img-top:hover {
    cursor: pointer;
} */

.active-state:hover {
    cursor: pointer;
    color: hsl(178, 100%, 50%);
}

/* SVG Overlay */
.img-overlay-wrap {
    position: relative;
    display: inline-block;
}

.img-overlay-wrap img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-overlay-wrap svg {
    display: none;
}

.img-overlay-wrap:hover svg {
    display: block;
    background-color: hsl(178, 100%, 50%, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
}

.img-overlay-wrap:hover {
    cursor: pointer;
}

/* Mobile styles */
@media (max-width: 400px) {
    .card {
        width: 90vw;
        margin-top: 50px;
    }
}

/* Footer */
.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 0px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}